{
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 6
	},
	"plugins": [
		"react-hooks"
	],
	"extends": [
		"plugin:react-hooks/recommended"
	],
	"rules": {
		"react-hooks/exhaustive-deps": [
			"warn", {
				"additionalHooks": "(useEffectWithPrevDeps|useAsyncEffect|useAsyncEffectWithPrevDeps)"
			}
		]
	}
}

